<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <main> 
        <h1>Ragister</h1>
        <form  method="post">
            <input type="text" name="name" id="" placeholder="Enter name">
            <input type="email" name="email" id="" placeholder="Enter email">
            <input type="password" name="password" id="" placeholder="Enter Password">
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>